# Identifying the Cause of the Drop in Earnings

This Project is completed by Asyl Uraimova for the Quantitative Analytics course at SKK GSB

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Load Excel Data

In [2]:
data=pd.read_excel('Session 3 What Causes the Drop in Earning Excel.xlsx', 'Data Collected by Firm 1')
print(data.shape)
data.head(10)

(150, 7)

,Firm ID,Year,Industry Sector,Sales Revenue,Cost of Good Sold,Marketing Expense,Other SG&A
0,1,2014,1,22.607101,5.844890,2.313715,1.690075
1,1,2015,1,22.359463,5.641220,3.150740,1.666312
2,1,2016,1,25.424619,6.450170,3.039526,1.294547
3,1,2014,2,229.545770,37.931961,53.623257,28.683492
4,1,2015,2,248.265215,25.557039,59.798562,29.013593
5,1,2016,2,254.364516,47.529182,53.250149,27.067052
6,1,2014,3,217.764983,66.969088,41.543866,18.226670
7,1,2015,3,226.377078,89.729002,38.335719,20.144531
8,1,2016,3,278.382140,109.443210,42.621416,23.352657
9,1,2014,4,527.708499,84.228985,56.199622,49.278102

# Compute for the Firm

In [25]:
firm1=data.loc[(data['Firm ID']==1) & (data['Industry Sector']==4)]
firm1

,Firm ID,Year,Industry Sector,Sales Revenue,Cost of Good Sold,Marketing Expense,Other SG&A
9,1,2014,4,527.708499,84.228985,56.199622,49.278102
10,1,2015,4,496.365661,79.914871,50.331659,46.658372
11,1,2016,4,422.459930,66.748669,43.930869,39.072151

In [26]:
firm1['Cost of Good Sold/Sales Revenue']=firm1['Cost of Good Sold']/firm1['Sales Revenue']
firm1['Marketing Expense/Sales Revenue']=firm1['Marketing Expense']/firm1['Sales Revenue']
firm1['Other SG&A/Sales Revenue']=firm1['Other SG&A']/firm1['Sales Revenue']
firm1

,Firm ID,Year,Industry Sector,Sales Revenue,Cost of Good Sold,Marketing Expense,Other SG&A,Cost of Good Sold/Sales Revenue,Marketing Expense/Sales Revenue,Other SG&A/Sales Revenue
9,1,2014,4,527.708499,84.228985,56.199622,49.278102,0.159613,0.106497,0.093381
10,1,2015,4,496.365661,79.914871,50.331659,46.658372,0.161000,0.101400,0.094000
11,1,2016,4,422.459930,66.748669,43.930869,39.072151,0.158000,0.103988,0.092487

In [27]:
firm1=firm1[['Year',
       'Sales Revenue',
       'Cost of Good Sold/Sales Revenue',
       'Marketing Expense/Sales Revenue',
       'Other SG&A/Sales Revenue']]
firm1

,Year,Sales Revenue,Cost of Good Sold/Sales Revenue,Marketing Expense/Sales Revenue,Other SG&A/Sales Revenue
9,2014,527.708499,0.159613,0.106497,0.093381
10,2015,496.365661,0.161000,0.101400,0.094000
11,2016,422.459930,0.158000,0.103988,0.092487

In [28]:
firm1=firm1.set_index('Year').transpose()
firm1

Year                                   2014        2015        2016
Sales Revenue                    527.708499  496.365661  422.459930
Cost of Good Sold/Sales Revenue    0.159613    0.161000    0.158000
Marketing Expense/Sales Revenue    0.106497    0.101400    0.103988
Other SG&A/Sales Revenue           0.093381    0.094000    0.092487

# Compute Industry Aggregation

In [20]:
industry=data.loc[data['Industry Sector']==4]
industry.head()

,Firm ID,Year,Industry Sector,Sales Revenue,Cost of Good Sold,Marketing Expense,Other SG&A
9,1,2014,4,527.708499,84.228985,56.199622,49.278102
10,1,2015,4,496.365661,79.914871,50.331659,46.658372
11,1,2016,4,422.459930,66.748669,43.930869,39.072151
24,2,2014,4,274.963766,60.688458,48.050411,16.198560
25,2,2015,4,364.825832,54.983714,59.308824,18.635122

In [21]:
industry['Cost of Good Sold/Sales Revenue']=industry['Cost of Good Sold']/industry['Sales Revenue']
industry['Marketing Expense/Sales Revenue']=industry['Marketing Expense']/industry['Sales Revenue']
industry['Other SG&A/Sales Revenue']=industry['Other SG&A']/industry['Sales Revenue']
industry.head()

,Firm ID,Year,Industry Sector,Sales Revenue,Cost of Good Sold,Marketing Expense,Other SG&A,Cost of Good Sold/Sales Revenue,Marketing Expense/Sales Revenue,Other SG&A/Sales Revenue
9,1,2014,4,527.708499,84.228985,56.199622,49.278102,0.159613,0.106497,0.093381
10,1,2015,4,496.365661,79.914871,50.331659,46.658372,0.161000,0.101400,0.094000
11,1,2016,4,422.459930,66.748669,43.930869,39.072151,0.158000,0.103988,0.092487
24,2,2014,4,274.963766,60.688458,48.050411,16.198560,0.220714,0.174752,0.058912
25,2,2015,4,364.825832,54.983714,59.308824,18.635122,0.150712,0.162568,0.051080

In [23]:
industry2=industry.groupby('Year')['Cost of Good Sold/Sales Revenue',
                                   'Marketing Expense/Sales Revenue',
                                   'Other SG&A/Sales Revenue'].mean()
industry2

,Cost of Good Sold/Sales Revenue,Marketing Expense/Sales Revenue,Other SG&A/Sales Revenue
Year,,,
2014,0.204193,0.154588,0.076480
2015,0.181668,0.155411,0.070605
2016,0.194602,0.138103,0.081271

In [24]:
industry2['Sales Revenue']=industry.groupby('Year')['Sales Revenue'].mean()
industry=industry2.transpose()
industry

Year                                   2014        2015        2016
Cost of Good Sold/Sales Revenue    0.204193    0.181668    0.194602
Marketing Expense/Sales Revenue    0.154588    0.155411    0.138103
Other SG&A/Sales Revenue           0.076480    0.070605    0.081271
Sales Revenue                    199.804806  206.769565  209.714604

# Compare Firm 1 with the Industry Average

In [35]:
firm1

Year                                   2014        2015        2016
Sales Revenue                    527.708499  496.365661  422.459930
Cost of Good Sold/Sales Revenue    0.159613    0.161000    0.158000
Marketing Expense/Sales Revenue    0.106497    0.101400    0.103988
Other SG&A/Sales Revenue           0.093381    0.094000    0.092487

In [30]:
industry

Year                                   2014        2015        2016
Cost of Good Sold/Sales Revenue    0.204193    0.181668    0.194602
Marketing Expense/Sales Revenue    0.154588    0.155411    0.138103
Other SG&A/Sales Revenue           0.076480    0.070605    0.081271
Sales Revenue                    199.804806  206.769565  209.714604

# Conclusion

The industry performance was stable and even had a little growth between 2014 and 2016. Therefore, the drop in revenue of Firm1 is not driven by an industry decline.

I further analized the cause of the decline in earnings which can be associated with the costs of the company. Therefore, I compared the firm's costs with the industry average.

As a result, the analysis shows the following:
1. Firm1 has lower COGS cost, implying that the drop earning is not driven by high COGS cost.
2. Firm1 has way lower marketing spending, implying that Firm 1 did not allocate much resource in marketing. This implies that the competitors spend much more on marketing to push their sales. Therefore, this couls be a reason for decline in revenue for Firm1. 
3. Firm 1 has a higher SG&A expense. In order to decide whether this is causing the decline in sales, we need to further decompose SG&A.